
<!-- Start your code here -->
<h1>Welcome to the About Page!</h1>
<p>Thank you for visiting the About page. Here you can learn more about me and my academic journey.</p>

<h2>About Me</h2>
<p>
	My name is Yasas Maddumage. I am a dedicated and results-driven Software Engineer with a proven track record in managing and executing critical IT projects. 
	I've delivered innovative solutions, diagnosed and resolved system issues, and enhanced software development processes.
	Currently I am following my postgraduate studies in Business Information Technology at Seneca Polytechnic. My student Number id 170308233.
</p>

<h2>Contact Information</h2>
<div class="contact-icons">
	<a href="mailto:yrmaddumage@myseneca.ca">
		<i class="fa-solid fa-envelope"></i> yrmaddumage@myseneca.ca
	</a>
	<a href="https://www.linkedin.com/in/yasasrm" target="_blank">
		<i class="fa-brands fa-linkedin"></i> LinkedIn
	</a>
	<a href="https://github.com/Yasasrm" target="_blank">
		<i class="fa-brands fa-github"></i> GitHub
	</a>
</div>

<h2>Back to Home</h2>
<p>
	You can return to the <a href="/">Home</a> page to continue exploring the website.
</p>
<!-- End your code here  -->