<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- <link rel="stylesheet" href="style/mainStyle.css" /> -->
		<link rel="stylesheet" href="/css/theme.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="https://www.linkedin.com/in/yasasrm" target="_blank">Yasas Maddumage  </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item active"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students" target="_blank">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas" target="_blank">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses" target="_blank">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">
					<!-- Start your code here -->
					<h1>Welcome to the About Page!</h1>
					<p>Thank you for visiting the About page. Here you can learn more about me and my academic journey.</p>

					<h2>About Me</h2>
					<p>
						My name is Yasas Maddumage. I am a dedicated and results-driven Software Engineer with a proven track record in managing and executing critical IT projects. 
						I've delivered innovative solutions, diagnosed and resolved system issues, and enhanced software development processes.
						Currently I am following my postgraduate studies in Business Information Technology at Seneca Polytechnic. My student Number id 170308233.
					</p>

					<h2>Contact Information</h2>
					<div class="contact-icons">
						<a href="mailto:yrmaddumage@myseneca.ca">
							<i class="fa-solid fa-envelope"></i> yrmaddumage@myseneca.ca
						</a>
						<a href="https://www.linkedin.com/in/yasasrm" target="_blank">
							<i class="fa-brands fa-linkedin"></i> LinkedIn
						</a>
						<a href="https://github.com/Yasasrm" target="_blank">
							<i class="fa-brands fa-github"></i> GitHub
						</a>
					</div>

					<h2>Back to Home</h2>
					<p>
						You can return to the <a href="/">Home</a> page to continue exploring the website.
					</p>
					<!-- End your code here  -->
				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>